<h2>Empoyee List</h2>
<table class = "table table-striped">
    <tbody>
        <tr>
            <td> Name</td>
            <td>{{ employee.name }}</td>
        </tr>
        <tr>
            <td> Employee Type</td>
            <td>{{ employee.empType }}</td>
         </tr> 
        <tr>
            <td> Work Days</td>
            <td>{{ employee.empPrecent }}</td>
         </tr>   
         <tr>
             <td>Vacation Accumulated</td>
             <td>{{ employee.vacations }}</td> 
        </tr>
    </tbody>
</table>